/*---------HEADER GOES HERE-----------*/
header{  
    h2 {
        visibility: visible;
    }
    
}
/*---------NAV GOES HERE-----------*/
nav {
    ul li {
        width: 25%;
        border: none;
        border-right: 2px solid $secondaryColor;
    }
    ul li:last-child {
        border-right:none;
    }
}

/*---------MAIN GOES HERE-----------*/
main {
    figure.visit-image {
        width: 50%;
        float: right;
        margin-left: $gutter;
    }
    
    figure.visit-image img {
        width: 100%;  
    }
}